<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://web.gin.g-node.org/css/semantic-2.2.10.min.css">
    <link rel="stylesheet" href="https://web.gin.g-node.org/css/gogs.css">
    <title>G-Node GIN-Doi</title>
</head>
<body>
<div class="following bar light">
    <div class="ui container">
        <div class="ui grid">
            <div class="column">
                <div class="ui top secondary menu">
                    <a class="item brand" href="https://gin.g-node.org/">
                        <img class="ui mini image" src="https://gin.g-node.org/img/favicon.png">
                    </a>
                    <a class="item" href="https://doid.gin.g-node.org/">Home</a>
                    <a class="item active" href="">Data</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui stackable middle very relaxed page grid">
    <div class="sixteen wide center aligned centered column">
        <h1>{{.DoiInfo.Title}}</h1>
        <p><b>Dataset</b></p>
            <table class="ui very basic table">
                <tbody>
                <tr>
                    <td>Title</td>
                    <td>{{.DoiInfo.Title}}</td>
                </tr>
                <tr>
                    <td>Authors</td>
                    <td>
                        {{range $index, $auth := .DoiInfo.Authors}}
                        {{ $auth.LastName }} {{ $auth.FirstName }},
                        {{end}}
                    </td>
                </tr>
                {{if .DoiInfo.Description}}
                <tr>
                    <td>Description</td>
                    <td>{{.DoiInfo.Description}}
                    </td>
                </tr>
                {{end}}
                {{if .DoiInfo.License}}
                <tr>
                    <td>License</td>
                    <td>{{.DoiInfo.License.Name}} (<a href="{{.DoiInfo.License.Url}}">{{.DoiInfo.License.Url}}</a>)
                    </td>
                </tr>
                {{end}}
                <tr>
                    <td>References</td>
                    <td>
                        {{range $index, $ref := .DoiInfo.References}}
                        {{ $ref.Name }}
                            {{if $ref.Doi}}
                                [<a href=" http://doi.org/{{$ref.Doi}}">{{$ref.Doi}}</a>]
                            {{end}}
                        <br>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td>Funding</td>
                    <td>
                        {{range $index, $ref := .DoiInfo.Funding}}
                        {{ $ref}}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{if .DoiInfo.Keywords}}
                <tr>
                    <td>Keywords</td>
                    <td>
                        {{range $index, $sub := .DoiInfo.Keywords}}
                        {{ $sub }}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                <tr>
                    <td>Data</td>
                    <td>
                        This dataset can be browsed online <a href="https://web.gin.g-node.org/{{.GetdoiUri}}">here</a> or downloaded as a
                        <a href="{{.DoiInfo.UUID}}.zip">zip archive ({{.DoiInfo.FileSize}} MB)</a>.
                        The current version of the dataset repository, possibly with updates, can be found <a href="https://web.gin.g-node.org/{{.URI}}">here</a>.
                    </td>
                </tr>
                <tr>
                    <td>DOI</td>
                    <td><a href="#" class ="ui grey label">{{.DoiInfo.DOI}}</a></td>
                </tr>
                <tr>
                    <td>Citation</td>
                    <td>
                        <i>This dataset can be cited as:</i><br>
                        {{.DoiInfo.GetCitation}}<br>
                        <i>Please also consider citing the material listed in the references</i>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
<footer>
    <div class="following bar light">
        <div class="ui container">
            <div class="ui grid">
                <div class="column">
                    <div class="ui top secondary menu center">
                        <a class="item brand" href="http://www.g-node.org">
                            <img class="ui mini image"
                                 src="https://projects.g-node.org/assets/gnode-bootstrap-theme/1.2.0-snapshot/img/gnode-icon-50x50-transparent.png"/>
                            © G-Node, 2016-2017
                        </a>
                        <a class="item brand" href="https://web.gin.g-node.org/G-Node/Info/wiki/about">About</a>
                        <a class="item brand" href="https://web.gin.g-node.org/G-Node/Info/wiki/imprint">Imprint</a>
                        <a class="item brand" href="https://web.gin.g-node.org/G-Node/Info/wiki/contact">Contact</a>
                        <a class="item brand" href="https://web.gin.g-node.org/G-Node/Info/wiki/Terms+of+Use">Terms of Use</a>

                        <div class="ui supersmall">
                            Hosted by:
                            <img class="ui bmbf image" src="https://web.gin.g-node.org/img/lmu.png"/>
                        </div>
                        <div class="ui supersmall">
                            Funded by:
                            <img class="ui bmbf image" src="https://web.gin.g-node.org/img/bmbf.png"/>
                        </div>
                    </div>
                </div>
            </div>
</footer>
</body>
</html>
