<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//projects.g-node.org/assets/gnode-bootstrap-theme/1.1.0-snapshot/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="//projects.g-node.org/assets/gnode-bootstrap-theme/1.0.0-snapshot/img/favicon.png">
    <title>G-Node GIN-Doi</title>
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//projects.g-node.org/assets/gnode-bootstrap-theme/1.0.0-snapshot/js/bootstrap.min.js"></script>
<div id="main">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="https://web.gin.g-node.org/" class="navbar-brand-gin"></a>
            </div>
        </div>
    </nav>
    <div class="container main-container">
        <ol class="breadcrumb">
            <li><a href="http://doid.gin.g-node.org/">Home</a></li>
            <li class="active">Data</li>
        </ol>
        <h1><b>{{.DoiInfo.Title}}</b></h1>
        <p><b>Dataset</b></p>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Title</td>
                    <td>{{.DoiInfo.Title}}</td>
                </tr>
                <tr>
                    <td>Authors</td>
                    <td>
                        {{range $index, $auth := .DoiInfo.Authors}}
                        {{ $auth }}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{if .DoiInfo.Description}}
                <tr>
                    <td>Description</td>
                    <td>{{.DoiInfo.Description}}
                    </td>
                </tr>
                {{end}}
                {{if .DoiInfo.License}}
                <tr>
                    <td>License</td>
                    <td>{{.DoiInfo.License.Name}} ({{.DoiInfo.License.Url}})
                    </td>
                </tr>
                {{end}}
                <tr>
                    <td>References</td>
                    <td>
                        {{range $index, $ref := .DoiInfo.References}}
                        {{ $ref.Name }} [{{ $ref.Doi }}] ({{ $ref.Reftype }})
                        <br>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <td>Funding</td>
                    <td>
                        {{range $index, $ref := .DoiInfo.Funding}}
                        {{ $ref}}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{if .DoiInfo.Keywords}}
                <tr>
                    <td>Keywords</td>
                    <td>
                        {{range $index, $sub := .DoiInfo.Keywords}}
                        {{ $sub }}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                <tr>
                    <td>Data</td>
                    <td>
                        <a href="{{.DoiInfo.UUID}}.zip">Data ({{.DoiInfo.FileSize}} MB)</a><br>
                        This is the archive of a git repository. The original repository and possibly updated versions can be found at
                        <a href="https://gin.g-node.org/">gin.g-node.org</a>

                    </td>
                </tr>
                <tr>
                    <td>DOI</td>
                    <td><a href="#" class ="label label-default">{{.DoiInfo.DOI}}</a></td>
                </tr>
                <tr>
                    <td>Source Repository</td>
                    <td>{{.URI}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav class="navbar navbar-fixed-bottom navbar-default">
            <div class="container">
                <div class="row display-table">
                    <div class="col-sm-1 display-cell">
                        <a href="http://www.g-node.org" class="navbar-footer-brand-gin"></a>
                    </div>
                    <div class="col-sm-6 display-cell">
                        <ul class="list-inline">
                            <li>© G-Node, 2016-2017</li>
                            <li><a href="http://www.g-node.org/gin_terms">Terms of usage</a></li>
                        </ul>
                    </div> <div class="col-sm-6 display-cell">
                    <ul class="list-inline pull-right">
                        <li><a href="https://web.gin.g-node.org/info/about" class="">About</a></li>
                        <li><a href="https://web.gin.g-node.org/info/imprint" class="">Imprint</a></li>
                        <li><a href="https://web.gin.g-node.org/info/contact" class="">Contact</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
</div>
</body>
</html>
