<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//projects.g-node.org/assets/gnode-bootstrap-theme/1.0.0-snapshot/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="//projects.g-node.org/assets/gnode-bootstrap-theme/1.0.0-snapshot/img/favicon.png">
    <title>G-Node GIN-Doi</title>
</head>
<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//projects.g-node.org/assets/gnode-bootstrap-theme/1.0.0-snapshot/js/bootstrap.min.js"></script>
<div id="main">
    <nav class="navbar navbar-inverse navbar-fixed-top"></nav>
        <div class="container main-container">
            <h1>This is the Landing Page for <b>{{.Title}}</b>. Please find more information below:</h1>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Title</td>
                    <td>{{.Title}}</td>
                </tr>
                <tr>
                    <td>Authors</td>
                    <td>
                        {{range $index, $auth := .Authors}}
                        {{ $auth }}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{if .Description}}
                <tr>
                    <td>Description</td>
                    <td>{{.Description}}
                    </td>
                </tr>
                {{end}}
                {{if .License}}
                <tr>
                    <td>License</td>
                    <td>{{.License}}
                    </td>
                </tr>
                {{end}}
                {{if .Subjects}}
                <tr>
                    <td>Subjects</td>
                    <td>
                        {{range $index, $sub := .Subjects}}
                        {{ $sub }}
                        <br>
                        {{end}}
                    </td>
                </tr>
                {{end}}
                <tr>
                    <td>Data</td>
                    <td><a href="./data.tar.gz">Data ({{.FileSize}} MB)</a></td>
                </tr>
                <tr>
                    <td>DOI</td>
                    <td><a href="#" class ="label label-default">10.12751/nncn.bc2016.0001</a></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>
