<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://gin.g-node.org/css/semantic-2.3.1.min.css">
		<link rel="stylesheet" href="https://gin.g-node.org/css/gogs.css">
		<title>G-Node GIN-DOI</title>
	</head>
	<body>
		<div class="following bar light">
			<div class="ui container">
				<div class="ui grid">
					<div class="column">
						<div class="ui top secondary menu">
							<a class="item brand" href="https://gin.g-node.org/">
								<img class="ui mini image" src="https://gin.g-node.org/img/favicon.png">
							</a>
							<a class="item" href="https://doid.gin.g-node.org/">Home</a>
							<a class="item active" href="">Data</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="ui stackable middle very relaxed page grid">
			<div class="sixteen wide center aligned centered column">
				<h1>{{.DOIInfo.Title}}</h1>
				<p><b>Dataset</b></p>
				<table class="ui very basic table">
					<tbody>
						<tr>
							<td>Title</td>
							<td>{{.DOIInfo.Title}}</td>
						</tr>
						<tr>
							<td>Authors</td>
							<td>
								{{range $index, $auth := .DOIInfo.Authors}}
									{{ $auth.LastName }} {{ $auth.FirstName }},
								{{end}}
							</td>
						</tr>
						{{if .DOIInfo.Description}}
							<tr>
								<td>Description</td>
								<td>{{.DOIInfo.Description}}
								</td>
							</tr>
						{{end}}
						{{if .DOIInfo.License}}
							<tr>
								<td>License</td>
								<td>{{.DOIInfo.License.Name}} (<a href="{{.DOIInfo.License.URL}}">{{.DOIInfo.License.URL}}</a>)
								</td>
							</tr>
						{{end}}
						<tr>
							<td>References</td>
							<td>
								{{range $index, $ref := .DOIInfo.References}}
									{{ $ref.Name }}
									{{if $ref.ID}}
										[<a href={{$ref.GetURL}}>{{$ref.ID}}</a>]
									{{end}}
									<br>
								{{end}}
							</td>
						</tr>
						<tr>
							<td>Funding</td>
							<td>
								{{range $index, $ref := .DOIInfo.Funding}}
									{{ $ref}}
									<br>
								{{end}}
							</td>
						</tr>
						{{if .DOIInfo.Keywords}}
							<tr>
								<td>Keywords</td>
								<td>
									{{range $index, $sub := .DOIInfo.Keywords}}
										{{ $sub }}
										<br>
									{{end}}
								</td>
							</tr>
						{{end}}
						<tr>
							<td>Data</td>
							<td>
								This dataset can be browsed online <a href="https://gin.g-node.org/{{.GetDOIURI}}">here</a> or downloaded as a
								<a href="{{.DOIInfo.UUID}}.zip">zip archive ({{.DOIInfo.FileSize}} MB)</a>.
								The current version of the dataset repository, possibly with updates, can be found <a href="https://gin.g-node.org/{{.URI}}">here</a>.
							</td>
						</tr>
						<tr>
							<td>DOI</td>
							<td><a href="#" class ="ui grey label">{{.DOIInfo.DOI}}</a></td>
						</tr>
						<tr>
							<td>Citation</td>
							<td>
								<i>This dataset can be cited as:</i><br>
								{{.DOIInfo.GetCitation}}<br>
								<i>Please also consider citing the material listed in the references</i>
							</td>
						</tr>
						<tr>
							<td>Resource Type</td>
							<td>
								<i>{{.DOIInfo.GetType}}</i><br>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<footer>
			<div class="ui container">
				<div class="ui center links item brand footertext">
					<a href="http://www.g-node.org"><img class="ui mini footericon" src="https://projects.g-node.org/assets/gnode-bootstrap-theme/1.2.0-snapshot/img/gnode-icon-50x50-transparent.png"/>© G-Node, 2016-2018</a>
					<a href="https://gin.g-node.org/G-Node/Info/wiki/about">About</a>
					<a href="https://gin.g-node.org/G-Node/Info/wiki/imprint">Imprint</a>
					<a href="https://gin.g-node.org/G-Node/Info/wiki/contact">Contact</a>
					<a href="https://gin.g-node.org/G-Node/Info/wiki/Terms+of+Use">Terms of Use</a>
					<a href="https://gin.g-node.org/G-Node/Info/wiki/Datenschutz">Datenschutz</a>
				</div>
				<div class="ui center links item brand footertext">
					<span>Powered by:      <a href="https://github.com/gogits/gogs"><img class="ui mini footericon" src="https://gin.g-node.org/img/gogs.svg"/></a>         </span>
					<span>Hosted by:       <a href="http://neuro.bio.lmu.de"><img class="ui mini footericon" src="https://gin.g-node.org/img/lmu.png"/></a>          </span>
					<span>Funded by:       <a href="http://www.bmbf.de"><img class="ui mini footericon" src="https://gin.g-node.org/img/bmbf.png"/></a>         </span>
					<span>Registered with: <a href="http://doi.org/10.17616/R3SX9N"><img class="ui mini footericon" src="https://gin.g-node.org/img/re3.png"/></a>          </span>
					<span>Recommended by:  <a href="https://www.nature.com/sdata/policies/repositories#neurosci"><img class="ui mini footericon" src="https://gin.g-node.org/img/sdatarecbadge.jpg"/><a href="https://journals.plos.org/plosone/s/data-availability#loc-neuroscience"><img class="ui mini footericon" src="https://gin.g-node.org/img/sm_plos-logo-sm.png"/></a></span>
				</div>
			</div>
		</footer>
	</body>
</html>
